tfoot td{
    font-style: italic;
}
.text-center{
    text-align: center;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
}
thead{
    background-color: gray;
}
.feature{
    background-color: blue;
}
tbody tr:hover {
    background-color: yellow;
}
tbody td:first-child {
    text-align: right;
}